<p>loc <%= flat.location %></p>
<p>£££ <%= flat.price %></p>
<p>vot <%= flat.votes.sum(:upvote) %></p>

<div>
	<form action="<%= thumbsup_path(flat) %>">
	<button>Thumbs up</button></form>

	<form action="<%= nothanks_path(flat) %>">
	<button>No thanks</button>
	</form>

</div>