<h1>flatscreen.io</h1>
<p>Like tinder but more risky.</p>

<% if ! @no_results %>
	<p>Here's your next flat.</p>
	<%= render partial: 'flat', locals: { flat: @flat } %>
<% else %>
<p>No flats today, sorry</p>
<% end %>



<div>
	<form action='/thumbsup'>
	<input name="v" type='button' />
	<%= @flat.thumbsup %>
	<%= link_to 'Thumbs up', thumbsup_path(@flat)%>
	</form>

	<form action='/nothanks'>
	<input name="x" type='button' />
	<%= @flat.nothanks %>
	<%= link_to 'No thanks', nothanks_path(@flat)%>
	</form>
</div>

<p>
<a href='index'>Show my shortlist</a>
</p> 
